@import '../../scss//colors.scss';

.overlay {
	background-color: $shadow-color-pop-up;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.container-popUp {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 3rem;
	padding: 1rem 2rem;
	border: 1px solid yellow;
}

.content-popUp {
	border: 1px solid red;
	background-color: red;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 700px;
}

.popUpRight {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.closeBtn {
	position: fixed;
	top: 8px;
	right: 8px;
}

.btnContainer {
	width: 50%;
	margin-top: 20px;
	display: flex;
	padding: 1rem 1rem;
	background-color: $third-color;
}

.btnContainer button {
	width: 100%;
	margin: 0.5rem;
	padding: 16px 0;
	border: none;
	color: $first-color;
}

.btnPrimary {
	background-color: $color-button-third;
}

.btnOutline {
	background-color: $color-button-second;
}

.bold {
	font-weight: 600;
}

@media screen and (max-width: 500px) {
	.container-popUp {
		flex-direction: column;
		top: 0;
		left: 0;
		transform: 0;
		width: 100%;
		height: 100vh;
	}
}
