@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600;700&display=swap');
@import './scss/colors.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $third-color;
}

body {
	margin: 0;
	font-family: 'Public Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 1240px;
	margin: auto;
}

.btn {
	color: $third-color;
	padding: 12px 24px;
	background-image: $gradient-color;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	transform: 0.4s;
	cursor: pointer;
}

.btn:active {
	transform: translate(4px);
	box-shadow: none;
	border-bottom: none;
}
