$color-button: rgb(17, 119, 119);
$third-color: #999;
$logo-color: pink;
$first-color: #999;
$second-color: #167;
$gradient-color: linear-gradient(45deg, #555 0%, #709daa 100%);
$shadow-color-hero: rgba(0, 0, 0, 0.4);
$shadow-color-pop-up: rgba(1, 46, 110, 0.7);
$border-color: #ccc;
$color-button-second:rgba(17,119,119,0.4);
$color-button-third:rgba(17,119,119,0.9);
